@import "styles.scss";

.book-preview {
  $blockName: &;
  @include Paper();
  flex: 1 1 auto;
  height: 400px;
  flex-wrap: wrap;
  transition: $default_transition;
  &__description {
    flex: 0 0 100%;
    margin-bottom: $spacing_small_x;
  }
  &__image {
    width: 100px;
    height: auto;
    margin-bottom: $spacing_large_x;
  }
  &__link {
    align-self: flex-end;
  }
  &__status {
    @include Label($brown_300);
    margin-left: auto;
  }
  &__title {
    align-items: center;
    flex: 0 0 100%;
    margin-bottom: $spacing_small_xx;
  }
}
