/* Blues */
$blue_light_100: #ebf2fa;
$blue_light_200: #e1edfa;
$blue_light_300: #d5e5f7;
$blue_light_400: #c4daf2;
$blue_light_500: #b1cef0;

$blue_dark_100: #0877a3;
$blue_dark_200: #05668d;
$blue_dark_300: #045a7d;
$blue_dark_400: #034d6b;
$blue_dark_500: #013a52;

$blue_black_100: #202b36;
$blue_black_200: #1a242e;
$blue_black_300: #131b23;
$blue_black_400: #0f151c;
$blue_black_500: #0a0f14;

/*Greens*/
$light_green_100: #c7ffe5;
$light_green_200: #bfffe1;
$light_green_300: #b3fcda;
$light_green_400: #a0fad0;
$light_green_600: #9afccf;

$dark_green_100: #1d995e;
$dark_green_200: #178752;
$dark_green_300: #137547;
$dark_green_400: #0f613a;
$dark_green_500: #0c5231;

/*Reds*/
$light_red_100: #ffc4bd;
$light_red_200: #fcb9b1;
$light_red_300: #fcb0a7;
$light_red_400: #ffa89e;
$light_red_500: #ff9d91;

$dark_red_100: #911e0f;
$dark_red_200: #80190b;
$dark_red_300: #731509;
$dark_red_400: #631106;
$dark_red_500: #520e05;

/*Brown*/
$brown_100: #b89d8f;
$brown_200: #a88f82;
$brown_300: #998276;
$brown_400: #8c766b;
$brown_500: #816c61;
$brown_600: #786359;
$brown_700: #6e5a51;
$brown_800: #635048;
$brown_900: #5c4941;

/*Neutrals */
$white: #fff;

$black: #000;

$grey_100: #edf3f5;
$grey_200: #dfe4e6;
$grey_300: #cdd2d4;
$grey_400: #b5b9ba;
$grey_600: #a2a5a6;
$grey_700: #86898a;
$grey_800: #747778;
$grey_900: #5e6061;
$grey_1000: #48494a;

/*Vendors*/
$amazon: #ff9900;
$appleBooks: #f5f5f7;
$barnesAndNobles: #3e5962;
$bookShop: #573ba3;
$booksAMillion: #002855;
$indieBound: #c02333;
