$spacing_small_xxx: 4px;
$spacing_small_xx: 8px;
$spacing_small_x: 12px;
$spacing_regular: 16px;
$spacing_large_x: 20px;
$spacing_large_xx: 24px;
$spacing_large_xxx: 28px;
$spacing_large_xxxx: 32px;
$spacing_large_xxxxx: 36px;
