$spacing_small_xxx: 0.25rem;
$spacing_small_xx: 0.5rem;
$spacing_small_x: 0.75rem;
$spacing_regular: 1rem;
$spacing_large_x: 1.25rem;
$spacing_large_xx: 1.5rem;
$spacing_large_xxx: 1.75rem;
$spacing_large_xxxx: 2rem;
$spacing_large_xxxxx: 2.25rem;
