@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

$roboto_400: "Roboto", sans-serif;

$playfair_display_500: "Playfair Display", serif;

$font_size_small_x: 0.694rem;
$font_size_small: 0.833rem;
$font_size_regular: 1rem;
$font_size_medium: 1.2rem;
$font_size_large: 1.44rem;
$font_size_large_x: 1.728rem;
