@import "styles.scss";

.details-main-panel {
  @include Panel();
  &__content {
    @include Paper();
    flex-wrap: wrap;
    flex: 0 0 50%;
    @media screen and (max-width: $medium) {
      flex: 0 0 70%;
    }
    @media screen and (max-width: $small) {
      flex: 0 0 90%;
    }
    &-core {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      align-content: flex-start;
      &-author {
        flex: 0 0 100%;
        margin-bottom: $spacing_large_x;
        @media screen and (max-width: $medium) {
          font-size: $font_size_medium;
        }
        @media screen and (max-width: $small) {
          font-size: $font_size_regular;
        }
      }
      &-backBtn {
        align-self: flex-end;
      }
      &-buyList {
        margin-bottom: $spacing_large_xx;
      }
      &-description {
        margin-bottom: $spacing_large_xx;
        @media screen and (max-width: $small) {
          font-size: $default_label_font_size;
        }
      }
      &-image {
        width: 20vw;
        height: auto;
        margin-bottom: $spacing_large_x;
      }
      &-title {
        flex: 0 0 100%;
        margin-bottom: $spacing_large_x;
        @media screen and (max-width: $medium) {
          font-size: $font_size_large;
        }
        @media screen and (max-width: $small) {
          font-size: $font_size_medium;
        }
        &-rank {
          @media screen and (max-width: $medium) {
            font-size: $font_size_large;
          }
          @media screen and (max-width: $small) {
            font-size: $font_size_medium;
          }
          margin-right: $spacing_small_x;
        }
      }
      &-vendors {
        margin-bottom: $spacing_large_xx;
        &-title {
          margin-bottom: $spacing_small_x;
          @media screen and (max-width: $medium) {
            font-size: $font_size_medium;
          }
          @media screen and (max-width: $small) {
            font-size: $font_size_regular;
          }
        }
        &-group {
          &-item {
            margin-right: $spacing_small_x;
            display: inline-block;
          }
        }
      }
    }
  }
}
