@import "styles.scss";

.books-main-panel {
  $blockName: &;
  @include Panel();
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      flex: 0 0 27.5%;
      display: flex;
      margin: 0 $spacing_regular $spacing_regular 0;
      & > card {
        flex: 1 1 auto;
      }
      @media screen and (max-width: $large) {
        flex: 0 0 45%;
      }
      @media screen and (max-width: $medium) {
        font-size: $default_label_font_size;
      }
      @media screen and (max-width: $small) {
        flex: 0 0 80%;
      }
    }
  }
}
