@import "app/styles/partials/_variables";
@import "app/styles/partials/_mixins";
@import "app/styles/normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $default_font_family;
  color: $default_font_colour;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $heading_font_family;
  color: $heading_font_colour;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  line-height: 1.5;
}
